/*   random images:      https://source.unsplash.com/random    */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

/* font-family: 'Akaya Telivigala', cursive; */
/**********************************************
                Global styles
**********************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Akaya Telivigala', cursive;
  height: 100vh;
  background: url(../img/cat.jpg) center/cover no-repeat;
}

/**********************************************
                Specific styles
**********************************************/
.speed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80px;
  margin-left: 10px;
  gap: 5px;
}

.speed-container label {
  font-size: 1.3rem;
  color: #ddd;
  cursor: pointer;
}

.speed-container input {
  color: #ddd;
  border-bottom: none !important;
}

#story {
  color: #ddd;
  max-width: 400px;
}

h1 {
  font-size: 2rem;
  text-shadow: 1px 2px 5px #000;
}

/**************************************
            @media Queries
**************************************/

@media all and (min-width: 576px) {
  h1 {
    font-size: 3rem;
  }
}

@media all and (min-width: 768px) {
  h1 {
    font-size: 4.2rem;
  }
}